<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div>
        <p id="side-bar-welcome-text">
            Welcome to Spring Reddit home!
        </p> 
        <ul>
            <li class="side-bar-li-text">Respect everyone's opinion</li>
            <hr class = "side-bar-hr"/>
            <li class="side-bar-li-text">Behave like you would in real life</li>
            <hr class="side-bar-hr"/>
            <li class="side-bar-li-text">Use Reddit to build your network</li>
            <hr class="side-bar-hr"/>
        </ul>
    </div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Subreddit</button>
    </div>
</div>