<div class="container" id = "subreddit-list-container">
    <div class="row">
      <div class="col-md-6 list-subreddits">
        <div class="all-subreddit-heading-div">
          <h5>All Communities</h5>
        </div>
        <div>
          <ol>
            <li *ngFor="let subreddit of subreddits">
              <span style="margin-left: 10px; margin-right: 10px;">
                <img type="image/png" sizes="32x32" rel="icon" src="/assets/images/chevron-up-16.png">
              </span>
              <img id="avatar-icon-subreddit-list" src='https://avatars.dicebear.com/api/gridy/{{subreddit.name}}.svg' alt="user-avatar">
              <a style="margin-left: 6px;" routerLink="/view-subreddit-posts/{{subreddit.id}}">r/{{subreddit.name}}</a>
              <button id="view-subreddit-button" (click)="goToPosts(subreddit.id!)">View</button>
              <hr style="margin-left: -20px;"/>
              
            </li>
          </ol>
        </div>
        
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-subreddit-side-bar></app-subreddit-side-bar>
      </div>
    </div>
  </div>
<!--  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" fill="currentColor" class="bi bi-chevron-up green" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
          </svg>   -->
  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="18" viewBox="0 0 172 172" style=" fill:#26e07f;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#1fb141"><path d="M21.5,21.5v129h64.5v-32.25v-64.5v-32.25zM86,53.75c0,17.7805 14.4695,32.25 32.25,32.25c17.7805,0 32.25,-14.4695 32.25,-32.25c0,-17.7805 -14.4695,-32.25 -32.25,-32.25c-17.7805,0 -32.25,14.4695 -32.25,32.25zM118.25,86c-17.7805,0 -32.25,14.4695 -32.25,32.25c0,17.7805 14.4695,32.25 32.25,32.25c17.7805,0 32.25,-14.4695 32.25,-32.25c0,-17.7805 -14.4695,-32.25 -32.25,-32.25z"></path></g></g></svg>